.main {
    margin-top: 20vh;
    height: auto;
    display: flex;
    width: 100%;
  }

.title{
    text-align:justify;
    margin-right: 30px;
}
.title h1{
    margin: 5px 0px;
    margin-top: 0px;
    font-size: 40px;
}
.title h3{
    margin: 3px 0px;
    font-size: 20px;
}
.par{
    background-color: rgb(239, 240, 240);
}
.title .par p{
    margin: 8px 0px;
    font-size: medium;
}


  .left {
    width: 60%;
    position: relative;
  }

  .right {
    width: 40%;
  }

  .bigImg  {
      display: flex;
  }
  .bigImg img {
    max-width: 100%;
    margin: auto;
    height: auto;
  }
  .button{
      display: flex;
  }
  .rectangle-button {
   text-decoration: none;
   color: black;
   padding: 1vw 5vw;
   border: 2px solid black;
   margin: 30px auto;
   min-width: 150px; /* Adjust the min-width as needed */
   text-align: center;
  }

  .lungBtn{
      margin-right: 30px;
      margin-top: 40px;
  }

  .section2{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  }

  .smallImgBox{
    display: flex;
    width: 60px;
    border: 2px solid black;
    margin: auto 10px;
    justify-content: center;
  }
  .smallImgBox img{
   width: 58px;
   padding: 2px;
  }